__pycache__/
*.py[cod]
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
.terraform.tfstate.lock.info
infra/terraform/envs/aws/terraform.tfvars

# kind / misc
.kube/
*.log
.DS_Store
.idea/
.vscode/
